#### Building a simple popularity based recommender system using Python

DataSet Source  : https://archive.ics.uci.edu/ml/datasets/Restaurant+%26+consumer+data

Source Files are attached to this repository: 

1. rating_final.csv
2. chefmozcuisine.csv

In [2]:
#Import the required files for analysis
import pandas as pd
import numpy as np

#### The next step is to read the csv files from the source files

In [3]:
#The csv read method is from the pandas library, it returns a dataframe 

frame = pd.read_csv('rating_final.csv')
cusine = pd.read_csv('chefmozcuisine.csv')

In [4]:
frame.head()

  userID  placeID  rating  food_rating  service_rating
0  U1077   135085       2            2               2
1  U1077   135038       2            2               1
2  U1077   132825       2            2               2
3  U1077   135060       1            2               2
4  U1068   135104       1            1               2

In [5]:
cusine.head()

   placeID        Rcuisine
0   135110         Spanish
1   135109         Italian
2   135107  Latin_American
3   135106         Mexican
4   135105       Fast_Food

#### Just checking the frame datatype for the frames

In [10]:
type(frame)
type(cusine)

pandas.core.frame.DataFrame

#### The next step is to recommend based on the number of counts, since the popularity recommender recommends based on numbers

In [13]:
#Make a new dataframe to hold the highest number of ratings count from frame
rating_count = pd.DataFrame(frame.groupby('placeID')['rating'].count())

#sort in the rating column in descending order to allow the highest values at the Top.
rating_count.sort_values('rating', ascending=False).head()

         rating
placeID
135085       36
132825       32
135032       28
135052       25
132834       25

#### Make a new column of the most rated places from the list generated at the top

In [15]:
most_rated_places = pd.DataFrame([135085, 132825, 135032, 135052, 132834], index=np.arange(5), columns=['placeID'])

summary = pd.merge(most_rated_places, cusine, on = 'placeID')

summary

   placeID         Rcuisine
0   135085        Fast_Food
1   132825          Mexican
2   135032        Cafeteria
3   135032     Contemporary
4   135052              Bar
5   135052  Bar_Pub_Brewery
6   132834          Mexican

#### The above results shows that the Mexican cuisine would be the most recommended food along with the PlaceID that serve them.

In [17]:
#Show details of the cuisine data 

cusine['Rcuisine'].describe()

count         916
unique         59
top       Mexican
freq          239
Name: Rcuisine, dtype: object

#### Work with Correlation Based Recommender